name: simplon-ci-cd
on: [ push ]
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        #with:
        #  node-version: "12.x"
      - run: npm install
      - run: npm test
  deploy:
    name: Deploy to remote server
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ~
            ls -la
            rm -rf ./simplon-ci-cd
            git clone -b master git@github.com:adadgio/simplon-ci-cd.git
            cd ./simplon-ci-cd
            ls -la
            npm install --production
            npm run start:prod
            